body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #333;
}

.container p {
  color: #666;
  font-size: 22px;
}

input[type="number"] {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #05d9e4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #1d10c9;
}

.popup {
  display: none;

  z-index: 1;
  left: 0;
  top: 0;
  width: 40%;
  height: 40%;
  overflow: auto;
  background-color: rgba(22, 130, 232, 0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  max-width: 300px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
